exclude .gitignore
exclude .coverage
exclude .coveragerc
exclude .travis.yml
include plugnpy/LICENSE
include plugnpy/README.md
include VERSION
include setup.cfg
prune .cache
prune .git
prune build
prune dist
prune htmlcov
recursive-exclude *.egg-info *
recursive-include tests *
